/* instagram stuffs*/
#instafeed img {
display:inline-block;
padding:3px;
opacity:0.9;
height:200px;
width:200px;
filter:alpha(opacity=80);
}

#instafeed img:hover {
opacity:1;
filter:alpha(opacity=100);
}

p.copyright {
    margin: 15px 0 0;
}

.life-quote {
    margin-top: 30px;
}

/*+ All about the navbar test*/


 /* Ananada Namaste Fonst */
@font-face {
    font-family: 'ananda_neptouch_2regular';
    src: url('fonts/ananda_neptouch_2-webfont.woff2') format('woff2'),
         url('fonts/ananda_neptouch_2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.alt-font {
	font-family: 'ananda_neptouch_2regular', sans-serif !important;
	
}

