
<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>  Hello,¡Hola & Namaste, Me in 10 seconds, I'm nothing but just a consciousness manifested  
                        in the physical world as a father, husband, yogi, minimalist, cyclist, farmer, wanderer, software engineer, Pokhara native of Nepal. 
                        Currently, I live in Nuremberg, Germany. 
                        CURRENT UPDATE: Here's what I am doing <a href="#nowPage" style="color: #0000ff"> now.</a>
                        Here is my <a href="assets/cvkarki.pdf" style="color: #0000ff">CV.</a> </p>
                </div>
      
<!--          <div class="col-lg-4">
                    <p>All about being minimalist and changing life to be better person.</p>
                </div>
    -->
            </div>
        </div>
    </section>