
<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>  Hello,¡Hola & Namaste, Me in 10 seconds, I'm a Father,Husband, Farmer, Environmentalist, Programmer, Photographer & avid student of life, a Minimalist , Pokhara native of Nepal. I live in Nuremberg, Germany, deeply happy, I am currently struggling to read Clean Architecture by Robert C. Martin whenever I get time apart from my work. CURRENT UPDATE: Here's what I am doing now . Here is my <a href="assets/cvkarki.pdf" style="color: #cc0000">CV</a> </p>
                </div>
                <div class="col-lg-4">
                    <p>All about being minimalist and changing life to be better person.</p>
                </div>
            </div>
        </div>
    </section>