<!-- Now Section -->
    <section class="success" id="nowPage">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Now</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p> I changed my job to Nuremberg thus very much busy organizing stuffs in my new apartment and preparing for my new job. We were blessed with boy last year end of June and my heart is immersed in the purest form of Love that I' cannot express. Life has changed then, taking him on my lap gets in world of eternal happiness and joy. I am planning to explore more sides of Nuremberg and Frankonian Culture. 
                    As always, meditation</p>
                </div>
                <div class="col-lg-4">
                    <p>And, I am planning to learn Sitar, do some paintings to decorate my home, improve my cycling and swimming techniques (but ofcourse not for participating in Triathlon). Planning to hit the fitness, burn some calories. Lastly, never ending learning Software Design and Development!</p>

                    <p>Here is a quote from Bhagvad Gita that has profound effect on me.</p>

                    <blockquote cite="https://vaniquotes.org/wiki/By_Me,_in_My_unmanifested_form,_this_entire_universe_is_perva ded._All_beings_are_in_Me,_but_I_am_not_in_them">
                        By Me, in My unmanifested form, this entire universe is pervaded. 
                        All beings are in Me, but I am not in them.
                    </blockquote>
                </div>
            </div>
        </div>
    </section>

 