<!-- Now Section -->
    <section class="success" id="nowPage">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Now</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p> I am enjoying my parental leave as we were blessed with boy this year end of June. I am planning to experience ski in Bayerisch Alps this year and hope there will still be snow in coming months.
                    As always, meditation</p>
                </div>
                <div class="col-lg-4">
                    <p>And, I am planning to learn Sitar, do some paintings to decorate my home, improve my cycling and swimming techniques (but ofcourse not for participating in Triathlon). Planning to hit the fitness, burn some calories. Lastly, never ending learning Software Design and Development!</p>
                </div>
                <div>
                    <p>Here is a quote from Bhagvad Gita that has profound effect on me.</p>

                    <blockquote cite="https://vaniquotes.org/wiki/By_Me,_in_My_unmanifested_form,_this_entire_universe_is_perva ded._All_beings_are_in_Me,_but_I_am_not_in_them">
                        By Me, in My unmanifested form, this entire universe is pervaded. 
                        All beings are in Me, but I am not in them.
                    </blockquote>
                </div>
            </div>
        </div>
    </section>

 